<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="ko" >
<head>
  <meta name="viewport" content="width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0" charset="UTF-8">
  <link href="./blog.css" rel="stylesheet"/>
  <script src="./js/blog.js"></script>
  <title>Blog Page</title>
</head>
<body>
<header>
  <h2 class="title">Blog</h2>
</header>
  <div class="container-userinfo">
    <div class="userinfo" onclick='userinfobutton()'>2313</div>
    <div class="userinfo-image">
      안녕
    </div>
    <ul id="btn1" class="user-info-ul">
      <li>내정보</li>
      <li>로그아웃</li>
    </ul>
  </div>

</body>
</html>