<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="ko" >
<head>
  <meta name="viewport" content="width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0" charset="UTF-8">
  <link href="/templates/css/blog.css" rel="stylesheet"/>
  <script src="/templates/js/blog.js"></script>
  <title>Blog Page</title>
</head>
<body>
<header>
  <h2 class="title">Blog</h2>
</header>
  <div class="container-userinfo">
      <details class="usermenu">
        <summary>2313</summary>
          <ul id="btn1" class="user-info-ul">
            <li><a class="drop-item" aria-disabled="true" href="/mypage">내정보</a></li>
            <li><a class="drop-item" href="/logout">로그아웃</a></li>
          </ul>
      </details>
    </div>
    <div class="container-content">
      <div class="content-title">
        <ul class="content-box">
          <li class="licontent">안녕</li>
          <li class="licontent">안녕</li>
          <li class="licontent">안녕</li>
        </ul>
      </div>
    </div>
</body>
</html>