<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" >
<head>
  <meta name="viewport" content="width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0" charset="UTF-8">
    

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
  <script th:src="@{/js/post.js}"></script>
  <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet"/>

  <title>Blog Page : 글쓰기</title>


  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <link th:href="@{/css/header.css}" rel="stylesheet">
</head>
<body>
     <!--상단 네비게이션-->
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img class="mb-4" th:src="@{/img/logo.jpg}" alt="" width="64" height="64">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
    </div>
  </header>
  <!--제목칸-->
  <div class="mb-3" style="width:80%; margin-left: 10%; margin-top:10px;">
    <label th:for="content-title" class="form-label">제목</label>
    <input type="text" class="form-control" th:id="content-title" th:value="${ContentVo.title}">
  </div>
  <!--에디터-->
    <div style="width:80%; margin-left: 10%;">
        <div class="align-items-center justify-content-center">
            <div id="summernote"></div>
            <script th:inline="javascript">
            $('#summernote').summernote({
                placeholder: '안녕하세요',
                tabsize: 2,
                height: 70 + 'vh',
                focus: true,
                lang: "ko-KR",
                toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['codeview', 'help']],

                ]
            });
            var markupStr = [[${ContentVo.content}]]
            $('#summernote').summernote('code', markupStr);

            </script>
        </div>
    </div>
    <!--버튼-->
    <div class="d-flex flex-wrap align-items-center justify-content-center" style="margin-top: 10px; margin-bottom: 10px;">
        <script>
          $('')
        </script>
      <button type="button" class="btn btn-secondary" id="btn" onclick="createPost();" th:if="${model.getPostcheck().toString().equals('0')}">글쓰기</button>
      <button type="button" class="btn btn-secondary" id="btn2" th:onclick="'javascript:updatePost(' + ${ContentVo.getId()} + ');'" th:if="${model.getPostcheck().toString().equals('1')}">수정하기</button>

    </div>


    <div style="margin-bottom:0;">
      <p class="d-flex align-items-center justify-content-center text-dark">WYSIWYG Editor for <a href="https://summernote.org/" class="text-dark">Summernote</a></p>
    </div>

    
</body>
</html>