h1,h2,div{
    color: #C9D1CC;
}
h2{
    text-align: center;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
    background-color: #010409;
}
header{
    width: 100%;
    margin: 0 auto;
    display: flex;
    background-color: #161B22;
    border-bottom: 1px solid #000;
}
.container-userinfo{
    /*display: flex;
    width: 100px;
    height: 30px;
    float: right;
    margin-top: 20px;
    margin-right: 50px;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;*/
    width: 100px;
    margin-right: 50px;
    margin-top: 20px;
    float: right;
    padding: .5em .5em 0;
    display: flex;
    text-align: left;
}
.user-info-ul{
    display: block;
    width: 100px;
    margin-left: -20px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
    list-style: none;
}
li{
    cursor: pointer;
}
.drop-item{
    display: block;
    padding: 4px 0 4px 0;
    overflow: hidden;
    color: #aaa;
    text-overflow: ellipsis;
    white-space: nowrap;
}
a{
    text-decoration-line: none;
    text-decoration: none; 
}
a:hover{
    background-color: #aaa;
    color: #010409;
}
/*클릭한후*/
a:visited{
    text-decoration: none; 
    color: #aaa;
}
a:focus { text-decoration: none;}
a:active{ text-decoration: none;}
details{
    width: 100px;
    height: 30px;
    margin: 0;
    padding: 0;
    transform: rotate(0deg);
    /*border: 1px solid #aaa;
    border-radius: 4px;*/
}
details[open]{
    transform: rotate(0deg);
}
summary{
    position: relative;
    list-style: none;
    display: list-item;
    cursor: pointer;
    
}
*{
    box-sizing: border-box;
}
.container-content{
    text-align: center;
    display: block;
    margin-top: 0%;
    margin-left: 0%;
    width: 70%;
    

}
.content-box{
    margin-top: 0;
    list-style: none;
    display: block;
    
}
.licontent{
    margin-top: 10px;
    width: 500px;
    padding: 50px 0 50px 0;
    border: 1px solid #aaa;
    border-radius: 4px;
}
/*.arrow{
    position: relative;
}
.arrow::after{
    position: absolute;
    left: 8px;
    top: 6px;
    content: '';
    width: 5px;
    height: 5px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(135deg);
}*/